@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Great+Vibes&family=The+Nautigal&display=swap');

html, body {
    background: rgb(136, 196, 197);
    background-size: cover;
    height: 100%;
    width: 100%;
}

h1{
    font-family: 'Cookie', cursive;
    font-size: 50px;
}

img {
    border-radius: 0.5rem;
}

